MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net
MONGO_DB_NAME=dmprod
REDIS_URL=rediss://default:password@host:port
APP_ENCRYPTION_KEY=
JWT_SECRET=
JWT_EXPIRE_MINUTES=10080
CORS_ORIGIN=http://localhost:3000
